Repository lkcozy/web-scraper: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format, yarn format --parser json

chore: update husky to 7
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: yarn format --parser json

chore: add the missing script
  .gitignore
  package.json
Due: yarn format --parser json

chore: change columns order
  src/AirQuality/index.ts
Due: yarn lint, yarn format

chore: upgrade dependencies
  .eslintrc.js
  .github/dependabot.yml
  package.json
  src/AirQuality/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

feat: add spell check
  .eslintignore
  .lintstagedrc.json
  cspell.json
  package.json
  yarn.lock
Due: yarn format --parser json

chore: add sonarlint
  .eslintrc.js
  cspell.json
  package.json
  src/AirQuality/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

chore: downgrade node-fetch to 2.6
  package.json
  src/AirQuality/index.ts
  src/utils.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

chore: update air quality action time to 15 pm utc
  .github/workflows/airQuality.yml
Due: none

ci: add codeql action
  .github/codeql-config.yml 
  .github/workflows/codeql.yml
  cspell.json
Due: yarn format --parser json

chore: update codeql config
  .github/codeql-config.yml 
  .github/workflows/codeql.yml
  README.md
  src/Fang/index.ts
Due: yarn lint, yarn format

chore: add more codeql queries
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

refactor: update process check
  .github/workflows/checkUpdats.yml
  .lintstagedrc.json
  package.json
  src/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

chore: update label
  .github/workflows/checkUpdats.yml
  src/index.ts
Due: yarn lint, yarn format

chore: upgrade dependencies
  README.md
  package.json
  yarn.lock
Due: yarn format, yarn format --parser json

fix: handle invalid time data
  package.json
  src/AirQuality/index.ts
  src/utils.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

docs: update readme
  README.md
Due: yarn format

docs: update readme
  README.md
  package.json
Due: yarn format, yarn format --parser json

refactor: upgrade node-fetch to v3
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .nvmrc
  .prettierrc
  .prettierrc.js
  package.json
  src/AirQuality/index.ts
  src/Fang/index.ts
  tsconfig.json
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

ci: remove dependabot
  .github/dependabot.yml
Due: none

docs: update act secrets example
  act.secrets.example
  src/AirQuality/README.md
Due: yarn format

chore: upgrade dependencies
  package.json
  yarn.lock
Due: yarn format --parser json

ci: auto PR summaries and commit descriptions
  .github/workflows/gptCommitSummarizer.yml
Due: none

doc: add gpt commits summarizer related info
  .gitignore
  README.md
Due: yarn format

chore: return data
  src/Fang/index.ts
Due: yarn lint, yarn format

cI: add the keep alive workflow
  .github/workflows/airQuality.yml
  README.md
  package.json
  tsconfig.json
Due: yarn format, yarn format --parser json

build: upgrade dependencies
  package.json
  yarn.lock
Due: yarn format --parser json

ci: add the code review action
  .github/workflows/codeReview.yml
  .github/workflows/gptCommitSummarizer.yml
Due: none

ci: upgrade dependencies
  package.json
  yarn.lock
Due: yarn format --parser json

ci: add the pull request log workflow
  .github/workflows/pullRequest.yml
  pullrequestlog.md
Due: yarn format

ci: update pr log workflow
  .github/workflows/codeReview.yml
  .github/workflows/codeql.yml
  .github/workflows/pullRequest.yml
  pullrequestlog.md
Due: yarn format

ci: update workflows
  .github/workflows/airQuality.yml
  .github/workflows/codeReview.yml
  .github/workflows/codeball.yml
  .github/workflows/pullRequest.yml
  package.json
  src/AirQuality/index.ts
  src/Fang/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

ci: update schedule time
  .github/codeql/codeql-config.yml
  .github/workflows/pullRequestlog.yml
  README.md
Due: yarn format

refactor: update prs log workflow
  .github/workflows/pullRequestlog.yml
  pullrequestlog.md
  scripts/pr.sh
Due: yarn format

chore: remove prs log file
  .github/workflows/pullRequestlog.yml
  PULLREQUESTLOG.md
  pullrequestlog.md
Due: yarn format

ci: auto create a pr when updating pr logs
  .github/workflows/checkUpdats.yml
  .github/workflows/codeReview.yml
  .github/workflows/pullRequestlog.yml
  PULLREQUESTLOG.md
  scripts/pr.sh
Due: yarn format

Path conditions:
  yarn lint: any of: *.ts
  yarn format: ((any of: *.ts) or (any of: *.scss)) or (any of: *.md)
  yarn format --parser json: any of: {*.json,.*rc}
