Repository lkcozy/web-scraper: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format, yarn format --parser json

ci: add reviewers and labels when creating the weekly report pr
  .github/workflows/pullRequestlog.yml
Due: none

ci: fix a bug
  .github/workflows/codeReview.yml
  .github/workflows/pullRequestlog.yml
Due: none

ci: update pr title
  .github/workflows/pullRequestlog.yml
Due: none

ci: enable multiple ignore authors
  .github/workflows/pullRequestlog.yml
  docs/PULLREQUESTLOG.md
  scripts/pr.sh
Due: yarn format

ci: update workflow schedule time
  .github/workflows/pullRequestlog.yml
Due: none

refactor: check if the merged_prs is empty
  .github/workflows/pullRequestlog.yml
  README.md
  src/utils.ts
Due: yarn lint, yarn format

feat: display contents in table
  .github/workflows/airQuality.yml
  package.json
  src/AirQuality/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

v3.0.0
  package.json
Due: yarn format --parser json

v3.0.0
  .github/workflows/airQuality.yml
  .nvm
  package.json
  src/AirQuality/index.ts
  tsconfig.json
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

feat: display weather forecasts
  .env.example
  .gitignore
  .nvm
  .nvmrc
  README.md
  src/AirQuality/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

refactor:handle invalid weather data
  .github/workflows/airQuality.yml
  README.md
  src/AirQuality/index.ts
Due: yarn lint, yarn format

ci: upgrade to yarn3 and node 20
  .github/workflows/airQuality.yml
  .nvmrc
  .yarnrc.yml
  package.json
  src/AirQuality/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

ci: upgrade to yarn4
  .github/workflows/airQuality.yml
  package.json
  yarn.lock
Due: yarn format --parser json

feat: add daily temperature
  src/AirQuality/index.ts
Due: yarn lint, yarn format

feat: add weather forecast alerts
  src/AirQuality/index.ts
Due: yarn lint, yarn format

feat: add a shared workflow
  .github/actions/setupNode/action.yml
  .github/workflows/airQuality.yml
Due: none

ci: add the auto pr label workflow
  .github/labeler.yml
  .github/workflows/airQuality.yml
  .github/workflows/autoPRLabel.yml
  .github/workflows/prLabel.yml
Due: none

ci: update fetch air quality workflow
  .github/workflows/airQuality.yml
  .github/workflows/autoAssign.yml
Due: none

ci: auto generate release note
  .github/release.yml
Due: none

ci: bump version to v3.0
  package.json
Due: yarn format --parser json

feat: add weather alerts info
  .github/workflows/airQuality.yml
  package.json
  src/AirQuality/index.ts
Due: yarn lint, yarn format, yarn format --parser json

ci: upgrade yarn and dependencies
  README.md
  package.json
  yarn.lock
Due: yarn format, yarn format --parser json

refactor: round the output number
  src/AirQuality/index.ts
  src/utils.ts
Due: yarn lint, yarn format

ci: use keepalive-workflow v2
  .github/workflows/airQuality.yml
Due: none

refactor: put forecastPm25 ahead weatherForecast
  package.json
  src/AirQuality/index.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format --parser json

refactor: update weather column width
  src/AirQuality/index.ts
  yarn.lock
Due: yarn lint, yarn format

chore: move the keepalive workflow into its own distinct job for better security
  .github/workflows/airQuality.yml
  src/AirQuality/index.ts
Due: yarn lint, yarn format

chore: update Node.js and package dependencies, adjust cron schedule in workflow
  .github/workflows/airQuality.yml
  .nvmrc
  package.json
  yarn.lock
Due: yarn format --parser json

refactor: simplify air quality functions and improve readability
  .husky/pre-commit
  src/AirQuality/index.ts
Due: yarn lint, yarn format

Path conditions:
  yarn lint: any of: *.ts
  yarn format: ((any of: *.ts) or (any of: *.scss)) or (any of: *.md)
  yarn format --parser json: any of: {*.json,.*rc}
